@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", monospace;
}

.main-layout {
    max-width: 1140px;
    margin: 0 auto;
}

/* share styles */
.btn-primary {
    color: rgb(13, 19, 33);
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 8px 8px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    background-color: rgb(251, 252, 253);
    opacity: 0.8;
}

.section-title {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;

}

.section-description {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
}

.dev-section-subtitle {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
}

/* navbar styles */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 48px 0;
}

.nav-title {
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
}

/* bennar section style */
.bennar {
    background-image: url(../assets/Hero-bg.png);
    margin-top: 48px;
    height: 652px;
    max-width: 1440px;
    margin: 0 auto;
}

.bennar h1 {
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
}

.bennar button {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 12px;
    margin-top: 10px;
}

.bennar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 652px;
}


/* devloper section styles */
.devloper {
    max-width: 920px;
    margin: 0 auto;
    margin-top: 72px;
}

.devloper>h2 {
    text-align: center;
}

.devloper>p {
    text-align: center;
    margin-top: 15px;
}

.devloper-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 56px;
    margin-bottom: 48px;
}

.devloper-container-exception {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    gap: 24px;
    align-items: center;
    margin-top: 56px;
    margin-bottom: 48px;
}

.devloper-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Inspiration section styles */
.Inspiration h2 {
    text-align: center;
}

.Inspiration p {
    text-align: center;
    margin-top: 15px;
}

.iframe {
    box-sizing: border-box;
    margin-top: 32px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;

}

/* target section styles */
.target-section h2 {
    text-align: center;
    margin-top: 48px;
}

.target-section>p {
    text-align: center;
    margin-top: 15px;
}

.target-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.target-contant-1 {
    margin-top: 40px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    width: 320px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.target-contant-2 {
    margin-top: 40px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    width: 320px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.target-contant-3 {
    margin-top: 40px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    width: 320px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* support section styles */
.support-section {
    background-image:linear-gradient(45deg, rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url(../assets/handshake.jpg);
    height: 312px;
    background-position: center;
    margin: 84px auto;
    border-radius: 16px;

}

.support-section-contant {
    display: flex;
    flex-direction: column;

    height: 312px;

    gap: 20px;

}

.support-section-contant h3 {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 88px;
}

.support-section-contant p {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

.support-section-contant .text-field {
    color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    padding: 12px;
    margin-left: 184px;
    width: 50%;
    background: rgb(255, 255, 255);
}

.support-section-contant .submit {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    padding: 10px;
    background: rgb(255, 255, 255);
}

/* footer styles */
footer {
    background: rgba(13, 19, 33, 0.03);

    padding: 32px 176px;
}

.footer-content {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content h3 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}

.sosial-icon {
    display: flex;
    gap: 24px;
}